<header class="flex flex-col justify-center items-center tesla-header">
    <div class="p-0 m-0 bg-black flex items-center w-full justify-center logo">
        <img src="/logo.svg" alt="Tesla Logo" class="p-2">
    </div>
</header>
<div id="wrapper">
    <div class="font-regular text-black bg-white w-screen">
        
        <nav class="flex justify-center">
            <div class="tesla-banner">
                <div class="banner-image"></div>
                <ul class="flex absolute justify-center top-0 w-full gap-8 sm:gap-13">
                    <li class="mx-0 sm:mx-2 text-xs sm:text-sm"><a class="link" href="#model-s">MODEL S</a></li>
                    <li class="mx-0 sm:mx-2 text-xs sm:text-sm"><a class="link" href="#model-x" >MODEL X</a></li>
                    <li class="mx-0 sm:mx-2 text-xs sm:text-sm"><a class="link" href="#model-3" >MODEL 3</a></li>
                    <li class="mx-0 sm:mx-2 text-xs sm:text-sm"><a class="link" href="#roadster" >ROADSTER</a></li>
                    <li class="mx-0 sm:mx-2 text-xs sm:text-sm"><a class="link" href="#energy" >ENERGY</a></li>
                </ul>
            </div>
        </nav>

        <main class="px-4 px-16">
            <div id="reactivity-demo"></div>
        </main>

        <footer>
            <div id="footer" class="flex flex-wrap justify-between bg-black p-8 hidden lg:block"></div>
        </footer>
    </div>
</div>
