$border-sizes: (
  '1': 1px,
  '2': 2px,
  '3': 4px,
  '4': 8px,
);

@each $size, $width in $border-sizes {
  .border-#{$size} {
    border-width: $width;
  }
}

@each $color, $value in $colors {
  .border-#{$color} {
    border-color: $value;
  }
}

@each $breakpoint, $bp-value in $breakpoints {
  @media (min-width: $bp-value) {
    @each $size, $width in $border-sizes {
      .#{$breakpoint}\:border-#{$size} {
        border-width: $width;
      }
    }

    @each $color, $value in $colors {
      .#{$breakpoint}\:border-#{$color} {
        border-color: $value;
      }
    }
  }
}
