$gap-sizes: (
  "1": 0.25rem,
  // 4px
  "2": 0.5rem,
  // 8px
  "3": 0.75rem,
  // 12px
  "4": 1rem,
  // 16px
  "5": 1.25rem,
  // 20px
  "6": 1.5rem,
  // 24px
  "7": 1.75rem,
  // 28px
  "8": 1.875rem,
  // 30px
  "9": 2rem,
  // 32px
  "10": 2.25rem,
  // 36px
  "11": 2.5rem,
  // 40px
  "12": 2.75rem,
  // 44px
  "13": 3rem,
  // 48px
);

@each $size, $value in $gap-sizes {
  .gap-#{$size} {
    gap: $value;
  }
}

@each $breakpoint, $bp-value in $breakpoints {
  @media (min-width: $bp-value) {
    @each $size, $value in $gap-sizes {
      .#{$breakpoint}\:gap-#{$size} {
        gap: $value;
      }
    }
  }
}
