.rounded-md {
  border-radius: 0.375rem;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-xl {
  border-radius: 0.75rem;
}


@each $breakpoint, $bp-value in $breakpoints {
  @media (min-width: $bp-value) {
    .#{$breakpoint}\:rounded-md { border-radius: 0.375rem; }
    .#{$breakpoint}\:rounded-md { border-radius: 0.5rem; }
    .#{$breakpoint}\:rounded-md { border-radius: 0.75rem; }
  }
}
