$text-colors: (
  "black": #000,
  "white": #fff,
  "gray": #718096,
);

@each $color-name, $color-value in $text-colors {
  .text-#{$color-name} {
    color: $color-value;
  }
}

$text-sizes: (
  "xs": 02vw,
  "sm": 0.875rem,
  "base": 1rem,
  "lg": 1.125rem,
  "xl": 1.25rem,
  "2xl": 1.5rem,
  "3xl": 1.875rem,
);
@each $size-name, $size-value in $text-sizes {
  .text-#{$size-name} {
    font-size: $size-value;
  }
}

@each $breakpoint, $bp-value in $breakpoints {
  @media (min-width: $bp-value) {
    @each $size-name, $size-value in $text-sizes {
      .#{$breakpoint}\:text-#{$size-name} {
        font-size: $size-value;
      }
    }
  }
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
