.w-1\/2 {
  width: 50%;
}

.w-full {
  width: 100%;
}

.w-none {
  width: auto;
}

.w-auto {
  width: auto;
}

.w-screen {
  width: 100vw;
}

@for $i from 1 through 48 {
  // Tailwind goes up to 12rem by default (48 * 0.25rem)
  .w-#{$i} {
    width: $i * $size-base;
  }
}

@for $i from 1 through 10 {
  // Tailwind goes up to 12rem by default (48 * 0.25rem)
  .w-#{$i}0p {
    width: $i * 10%;
  }
}

// Generate responsive width classes
@each $breakpoint, $bp-value in $breakpoints {
  @media (min-width: $bp-value) {
    .#{$breakpoint}\:w-none {
      width: auto;
    }
    @for $i from 1 through 48 {
      .#{$breakpoint}\:w-#{$i} {
        width: $i * $size-base;
      }
    }
    @for $i from 1 through 10 {
      // Tailwind goes up to 12rem by default (48 * 0.25rem)
      .#{$breakpoint}\:w-#{$i}0p {
        width: $i * 10%;
      }
    }
    .#{$breakpoint}\:w-full {
      width: 100%;
    }
    .#{$breakpoint}\:w-1\/2 {
      width: 50%;
    }
    .#{$breakpoint}\:w-screen {
      width: 100vw;
    }
  }
}
