.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  height: auto;
}

.input-label {
  display: block;
  font-size: 0.875rem;
  color: #333;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.indicator {
  font-size: 0.875rem;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-field {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.input-addon,
.input-addon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  cursor: pointer;
  margin-left: 0.5rem;
}

.input-addon-button.selected {
  background-color: blue;
  color: #fff;
}

.range-container {
  background-color: transparent;
  border: none;
  width: 12rem;
  height: 45px;
  border-color: #b9bed1;
  border-width: 1px;
  border-style: solid;
  color: #333;
  background: #f0f2f7;
  display: flex;
  align-items: center;
  padding: 1rem;
  .divider {
    margin: 5px 0px;
    width: 50px;
    height: 1px;
    background: rgba(0, 0, 0, 0.3);
  }
  @media (max-width: map-get($breakpoints, "sm")) {
    width: auto;
  }
}

.stepper {
  background-color: transparent;
  border: none;
  &:active,
  &:focus {
    outline: none;
  }
}

.chevron-up {
  background: url("./images/icon-thin-chevron-up.svg");
  background-repeat: no-repeat;
  background-position: center;
  &[disabled] {
    opacity: 0.5;
    filter: saturate(0);
  }
}

.chevron-down {
  background: url("./images/icon-thin-chevron-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  &[disabled] {
    opacity: 0.5;
    filter: saturate(0);
  }
}

.range {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 34px;
  width: 100%;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
